@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'chewy', cursive;
}

body{
    background-color: rgb(255, 190, 190);
    background-repeat:round;
}

img{
    justify-content: right;
    
}


h1{
    text-align:center;
    margin-top: 20px;
    font-family: 'chewy', cursive;
    font-weight:normal;
    color:snow;
}

.container{
    width: 80vmin;
    padding: 50px 30px;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    border: 12px double rgb(255, 163, 235);
}

.stats{
    text-align: right;
    font-size: 25px;
    margin-bottom: 30px;
}

.stats span{
    font-weight: 600;
}

#quote{
    text-align: justify;
    margin: 50px 0 30px 0;
    font-size: 25px;
}

textarea{
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 30px;
}

button{
    float: right;
    margin-top: 20px;
    background-color: #c01587;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
}

.result{
    margin-top: 40px;
    display: none;
}

.result h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.wrapper{
    display: flex;
    justify-content: space-around;
}

.wrapper span{
    font-weight: 600;
}

.success{
    color: #4446b2;
}

.fail{
    color: #ff0040;
}

